$bgColor: #202124;

$textColor: #fdfdfd;
$placeholderColor: #0c0c0c;

$cardWidth: 325px;
$cardHeight: 215px;
// $cardWidth: 180px;
// $cardHeight: 270px;

$homeInputBg: #f5f5f5;

$cardSkeletonBg: #2e2e2e;

$paddintTop: 110px;

$pageMargin: 30px;
$pageMarginMobile: 16px;
